body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #21193d; /* Roxo escuro */
    background-image: url('../../../../images/espaço_3D.png');
  overflow-y: auto;

}

.container {
    display: flex;
    width: 80%;
    max-width: 1200px;
    height: 90vh;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(14, 23, 153, 0.3);
    backdrop-filter: blur(1.5px);
    overflow: hidden;

}

.left-panel {
    background-color: rgba(30, 30, 31, 0.425); /* fundo com transparência */
    backdrop-filter: blur(9px);
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
    position: relative;
    overflow: hidden;
    
}

.game-title {
    font-family: "Luckiest Guy", cursive;
    font-size: 2.5rem;
    color: #fff;
}

.logo-container {
    margin-bottom: 20px;
}

.logo {
    max-width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.05);
}

.left-panel h1 {
    font-family: "Luckiest Guy", cursive;
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: -15px;
    color: #ffffffd5;
}

.left-panel p {
    font-family: "Luckiest Guy", cursive;
    font-size: 0.8rem;
    font-weight: 400;
    margin-top: -10px;
    color: #ff9035cc;
}

.right-panel {
  width: 60%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(43, 35, 77, 0.4);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
}


.right-panel h2 {
    font-family: "Luckiest Guy", cursive;
    font-size: 2rem;
    color:#3232ff;
    margin-bottom: 9px;
    text-align: center;
}
.input-with-icon {
  width: 105%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.input-with-icon input {
  flex: 1;
  padding: 12px 15px;
  border: 2px solid #3232ff;
  border-radius: 10px;
  font-size: 1rem;
  font-family: "Luckiest Guy", cursive;
  background-color: transparent;
  color: #fff;
}

.input-with-icon i {
  font-size: 1rem;
  color:#ffa43d;
}


.input-group label {
    font-family: "Luckiest Guy", cursive;
    font-size: 0.9;
    display: block;
    margin-bottom: 5px;
    color:#ffa43d;
}

.input-group input {
    width: 90%;
    padding: 12px 15px;
    border: 2px solid #3232ff;
    border-radius: 10px;
    font-size: 1rem;
    font-family: "Luckiest Guy", cursive;
    background-color: transparent;
    color: #ffffff;
    transition: border-color 0.3s;
}

.input-group input:focus {
    outline: none;
    border-color: #ffb555;
    box-shadow: 0 0 10px rgba(255, 187, 85, 0.5);
}
.input-group i{
    size: 1rem;
}

.submit-button {
    width: 60%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #3838ff;
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "Luckiest Guy", cursive;
    margin-left: 20%;
    margin-top: 10px;
}

.submit-button:hover {
    background-color: #ff9035;
    
}

.link-button {
    font-family: "Luckiest Guy", cursive;
    text-align: center;
    margin-top: 20px;
    font-size: 0.9rem;
    color: #fff;
}

.link-button a {
    color: #3838ff;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s;
}

.link-button a:hover {
    color:#ff9035
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        height: auto;
    }
    .left-panel, .right-panel {
        width: 100%;
        padding: 30px;
    }
    .left-panel {
        border-radius: 20px 20px 0 0;
    }
    .right-panel {
        padding: 30px 20px;
    }
}